plugin/src/main/resources/expression.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.codesup.net/jaxb/plugins/expression"
		targetNamespace="http://www.codesup.net/jaxb/plugins/expression">
	<!--
	  ~ MIT License
	  ~
	  ~ Copyright (c) 2014 Klemm Software Consulting, Mirko Klemm
	  ~
	  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
	  ~ of this software and associated documentation files (the "Software"), to deal
	  ~ in the Software without restriction, including without limitation the rights
	  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	  ~ copies of the Software, and to permit persons to whom the Software is
	  ~ furnished to do so, subject to the following conditions:
	  ~
	  ~ The above copyright notice and this permission notice shall be included in
	  ~ all copies or substantial portions of the Software.
	  ~
	  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	  ~ THE SOFTWARE.
	  -->
	<simpleType name="language">
		<restriction base="token">
			<enumeration value="none"/>
			<enumeration value="xml-schema"/>
			<enumeration value="java"/>
		</restriction>
	</simpleType>
	<complexType name="evaluator-ref">
		<attribute name="name" type="NCName" use="required"/>
		<attribute name="method" type="NCName" use="optional"/>
	</complexType>
	<element name="expression">
		<annotation>
			<documentation>
				Customization element to specify an expression by which an instance of the class
				generated from this complexType should be formatted or otherwise processed.
				The result of this processing will be the return value of the generated method.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="evaluator" type="tns:evaluator-ref" minOccurs="0">
					<annotation>
						<documentation>
							Select a specific evaluator configuration for the expressions under
							this scope.
							Default: The first evaluator defined.
						</documentation>
					</annotation>
				</element>
			</sequence>
			<attribute name="select" type="string" use="required">
				<annotation>
					<documentation>
						Expression string passed to the formatter class. It is up to the formatter
						implementation whether to compile, cache or otherwise process the expression.
						In any case, invocation of the formatting method must return a representation
						of the current instance of the generated class dependent on this expression.
						See below for examples on how to do this with XPath.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="method-name" type="token" use="optional">
				<annotation>
					<documentation>
						Name of the method that returns the expression evaluation result.
						In contrast to "name", this defines the method name literally, i.e.
						the method will be named exactly as specified here.
						Not that the exact rules for the contents of this attribute
						are language-specific, whereas "name" allows you to specify a
						name in a language-neutral way.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="name" type="NCName" use="optional">
				<annotation>
					<documentation>
						Assigns a name to this expression. The name specifed here
						should follow XML naming conventions, so it doesn't make
						an assumption about the programming language the code is generated in.
						The translation of this name to a method name is then language-specific.
						In generated Java code, for example,  this will
						result in a generated method named "getXXX" where XXX is the name
						specified here, converted to Java identifier conventions.
						For finer control, "method-name" could be used, which will
						define the method name literally without translation of any kind.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="type" type="QName" use="optional">
				<annotation>
					<documentation>
						The result type of the expression, given as a QName
					</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="method">
		<annotation>
			<documentation>
				Secification of the evaluation method of the evaluator class that
				will be called when an actual expression result
				is requested via the generated method.
				This method must have the following properties:
				1. It must have a return type that can be cast
				to the return type of any expression that is defined
				in the scope of this evaluator.
				2. If static=true, it mus take the instance of
				the entity on which it evaluates as the first
				argument and the expression itself as the second argument.
				If static=false (the default), it must take the
				expression itself as its only argument.
			</documentation>
		</annotation>
		<complexType>
			<attribute name="name" type="NCName" use="optional">
				<annotation>
					<documentation>
						The method name, must be unique within the surrounding
						evaluator configuration.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="literal" type="boolean" use="optional" default="false">
				<annotation>
					<documentation>
						Usually, an expression is given in the XSD in string form. By default,
						the expression is passed to the evaluation method in generated code in
						string form as well. If literal=true, however, code is generated in
						a way such that the expression is inserted into the evaluation method call
						unquoted. Theoretically, this allows for arbitrary source code to be
						injected at code generation time. This is very flexible, but dangerous,
						language-dependent, and difficult to maintain so the expression can be
						evaluated correctly in the corresponding context.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="type-passing" type="tns:language" use="optional" default="none">
				<annotation>
					<documentation>
						If this is other than "none", the evaluation method will be assumed to have
						an additional parameter denoting the requested result type of the expression.
						The evaluation method will then have to perform the necessary conversions
						and return a compatible type.
						If set to "xml-schema", the additional parameter will have to be of type "QName",
						and it will receive the type as a QName, which matches the type passed as the "type"
						on the corresponding expression customization.
						If set to "java", the additional Parameter will be of type "java.lang.Class&lt;T&gt;",
						where T is the java type literal passed as the "type" attribute on the corresponding expression
						customiztion.
					</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="expressions">
		<complexType>
			<sequence>
				<element name="evaluator" type="tns:evaluator-ref" minOccurs="0">
					<annotation>
						<documentation>
							Select a specific evaluator configuration for the expressions under
							this scope.
							Default: The first evaluator defined.
						</documentation>
					</annotation>
				</element>
				<element ref="tns:expression" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="evaluator">
		<annotation>
			<documentation>
				This binding customization specifies the formatter class which
				will be called in the generated code to create a formatted
				representation of an instance of the generated class.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:method" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>
							Specification of the methods used for evaluation expressions.
							Refer to the definition of the {@see Method} element.
						</documentation>
					</annotation>
				</element>
				<element ref="tns:expression" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>
							When an evaluator is defined specific to a generated class,
							expressions to be evaluated can be given right here inside the
							evaluator customization element.
						</documentation>
					</annotation>
				</element>
			</sequence>
			<attribute name="name" type="NCName" use="optional">
				<annotation>
					<documentation>
						Name for this evaluator configuration, can be used
						to reference this evaluator in expression customizations.
						Default: Unqualified class name.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="class" type="string" use="optional">
				<annotation>
					<documentation>
						The fully qualified name of the java class to evaluate all expressions
						defined in this scope.
						If static=false (the default), the class must have a one-argument
						constructor that receives the expression. It will be instantiated once
						per entity instance when an expression on that instance is evaluated
						for the first time.
						If static=true, the class will never be instantiated, it is
						suggested that it is marked "final" and has a private no-arg constructor
						in this case.
						Default: Name configured on the command line with &quot;-evaluator&quot;.
					</documentation>
				</annotation>
			</attribute>
			<attribute name="field" type="string" use="optional">
				<annotation>
					<documentation>
						Name of the instance field in the generated class to hold the instance
						of the formatter class.
						Default: If "name"is set, __evaluator&lt;name&gt;, if name is not set,
						__evaluator&lt;class&gt;
					</documentation>
				</annotation>
			</attribute>
			<attribute name="static" type="boolean" use="optional" default="false">
				<annotation>
					<documentation>
						Generate the expression evaluation code in a way that assumes that the evaluator class is a utility class.
						I.e. There will be no instance field, all evaluation methods will take the instance of the
						generated entity class as the first parameter, and they will be called statically on the
						evaluator class.
					</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="evaluators">
		<annotation>
			<documentation>
				Collection of evaluator configurations.
				The default implementation of XJC only supports
				on plugin customization element od a specific type,
				so if we want to specify more we have
				to wrap them in a common parent.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:evaluator" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>
